version: "3.0"
services:
  test_public_db:
    image: mysql:latest
    networks:
      - public_dev
    env_file: ./testing/.env
    environment:
      MYSQL_DATABASE: $MYSQL_DATABASE
      MYSQL_USER: $MYSQL_USER
      MYSQL_PASSWORD: $MYSQL_PASSWORD
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
    volumes:
      - datafiles_dev:/var/lib/dev_mysql
    restart: always
    healthcheck:
      test: "mysql $MYSQL_DATABASE -u$MYSQL_USER -p$MYSQL_PASSWORD -e 'SELECT 1;'"
      interval: 10s
      timeout: 10s
      retries: 10

  test_public_api:
    depends_on:
      test_public_db:
        condition: service_healthy
    build: ./project/
    networks:
      - public_dev
    env_file: ./testing/.env
    environment:
      SPRING_APPLICATION_JSON: '{
          "spring.datasource.url"  : "jdbc:mysql://test_public_db:3306/$MYSQL_DATABASE?useSSL=true",
          "spring.datasource.username" : "$MYSQL_USER",
          "spring.datasource.password" : "$MYSQL_PASSWORD",
          "spring.jpa.properties.hibernate.dialect" : "org.hibernate.dialect.MySQL8Dialect",
          "spring.jpa.hibernate.ddl-auto" : "update",
          "server.port": $SPRING_DOCKER_PORT,
          "generic.base_url": "http://172.17.0.1:$SPRING_LOCAL_PORT/"
        }'
    ports:
      - $SPRING_LOCAL_PORT:$SPRING_DOCKER_PORT
    restart: on-failure

networks:
  public_dev:

volumes:
  datafiles_dev: